.header
  padding: 2rem 0
  background-color: $main

  &__inner
    +displayFlex(space-between, center)
    
   

  &__phone    
    +fontRobot(1.8rem, 2.1rem, $white)        

    padding-bottom: 0.8rem
    border-bottom:  1px solid transparent 
    
    &:hover,
    &:focus     
     border-bottom:  1px solid $white
